body, html {
}
body {
	padding-top: 100px;
}
button{
	background-color: #6dab2c;
	border: none;
	color: #fff;
	font-size: 20px;
	padding: 10px;
}
.guess-text{
	height: 30px;
}
.container{
	margin: 0 auto;
	width: 600px;
}
.response{
	margin: 0 auto;
	width: 50%;
}